.table table-hover{
    margin-left: 0px;
}
th{
    background-color: aliceblue;
    color: black;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: white;
}

h1{
    margin-top: 10px;
    margin-left: 240px;;
}
.container{
    margin-left: 60px;
}

.buttonBack{
    margin-left: 40px ;
    width: 10%;
    font-weight: bold;
    border: 1px solid back;
    }
    .buttonBack:hover{
        background-color: beige;
    }
    