#sessionUser{
    justify-content: flex-end;
    color: red;
}
img{
    padding: 0;
    margin-top:10px;
    margin-left: 10px;
}

#welcome{
   color: black;
   text-shadow: 0 16px 16px black;
   font-size:3em;
   font-weight: bold;
   
}
button{
    border-radius: 20px 20px 20px 20px;
    border: 1px solid black;
}

table{
    margin-left: 100px;
    text-align:  center;
    margin-top: 40px;
    box-shadow: 0 13px 13px rgb(209, 207, 207)
}
#findButton{
    padding: 10px;
    margin: 5px;
}
#findReimbursementButton{
    padding: 10px;
    margin: 5px;
}
input{
    text-align: center;
}
#surroundingBox{
    box-shadow: 0 13px 13px black;
    margin: 5px 10px 30px 130px;
    border: 1px solid rgb(12, 1, 1);
    display: inline-block;
    padding: 20px;
    background-color: aliceblue;
}
#tableReimbursement{
    margin: 20px;
}
table{
    background-color: white;
    font-family: Helvetica;
    }
table tr :hover{
    background-color: aliceblue;
}
#tUserHeader{
    background-color: rgb(88, 38, 19);
    border: 1px solid transparent;
    text-shadow: 0 16px 16px black;
    font-family: Helvetica;
    font-size: 18px;
    color: white;
}
#tReimbursementHeader{
    background-color: rgb(201, 202, 128);
    border: 1px solid transparent;
    text-shadow: 0 13px 13px black;
    font-family: Helvetica;
    font-size: 18px;
}
#tableUser{
    margin-left:20px;
    margin-top: 22px;
}
body{
    background-color: rgb(172, 211, 195);
}


#footerBox{
    color: black;
    margin-left: 550px;
    font-family: Helvetica;
    font-size: 16px;
    text-shadow: 0 16px 16px black;
    letter-spacing: 0.5px;
    font-weight: bold;
}
nav{
    text-shadow: 0 14px 14px black;
}

